@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cmm-base-color-primary: #0e0f0f;
    --cmm-base-color-secondary: #141514;
    --cmm-base-color-tertiary: #bbbaa6;
    --cmm-base-color-quaternary: #fefce1;
    --cmm-text-color-one: rgba(187, 186, 166, 0.7);
    --cmm-text-color-two: #fefce1;
    --cmm-text-color-three: #bbbaa6;
    --cmm-text-color-four: #141514;
    --cmm-text-on-base-primary: var(--cmm-text-color-one);
    --cmm-text-on-base-secondary: var(--cmm-text-color-one);
    --cmm-text-on-base-tertiary: var(--cmm-text-color-four);
    --cmm-text-on-base-quaternary: var(--cmm-text-color-four);
    --cmm-text-color-heading: var(--cmm-text-color-two);
    --cmm-text-color-heading-link: var(--cmm-text-color-two);
    --cmm-link-color: var(--cmm-text-color-three);
    --cmm-link-hover-color: var(--cmm-text-color-two);
    --cmm-border-color-main: rgba(187, 186, 166, 0.2);
    --cmm-radius-square: 0;
    --cmm-radius-rounded: 16px;
    --cmm-radius-rounded-medium: 8px;
    --cmm-radius-rounded-small: 4px;
    --cmm-radius-round: 9999px;
    --cmm-radius-pagination: var(--cmm-radius-round);
    --cmm-btn-font-size: var(--cmm-font-size-base);
    --cmm-btn-line-height: 22px;
    --cmm-btn-font-weight: 500;
    --cmm-btn-border-width: 0;
    --cmm-btn-radius: var(--cmm-radius-round);
    --cmm-btn-color: var(--cmm-text-color-four);
    --cmm-btn-hover-color: var(--cmm-text-color-four);
    --cmm-btn-border-color: var(--cmm-border-color-main);
    --cmm-input-bg: #101111;
    --cmm-input-color: var(--cmm-text-color-one);
    --cmm-input-border-color: transparent;
    --cmm-input-border-width: 1px;
    --cmm-input-border-radius: var(--cmm-radius-rounded-medium);
    --cmm-input-focus-border-color: #bbbaa6;
    --cmm-font-size-base: 16px;
    --cmm-font-size-sm: 0.833em;
    --cmm-font-size-h6: 1em;
    --cmm-font-size-h5: 1.333em;
    --cmm-font-size-h4: 1.6em;
    --cmm-font-size-h3: 2em;
    --cmm-font-size-h2: 2.467em;
    --cmm-font-size-h1: 2.933em;
    --cmm-font-weight-normal: 400;
    --cmm-font-weight-medium: 500;
    --cmm-font-weight-bold: 600;
    --cmm-font-weight-extra-bold: 800;
    --cmm-font-weight-heading: 500;
    --cmm-line-height-normal: 1.4;
    --cmm-line-height-heading: 1.2;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
}

html {
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input:focus,
input:focus-visible,
input:active {
    @apply border-input-focus-border outline-0 !important;
}

input::placeholder {
    @apply text-neutral-600;
}

textarea {
    resize: none;
}

textarea:focus,
textarea:focus-visible,
textarea:active {
    @apply border-input-focus-border outline-0 !important;
}

textarea::placeholder {
    @apply text-neutral-600;
}

.heading-gradient {
    background-image: linear-gradient(
        to right,
        var(--cmm-base-color-tertiary) 0%,
        var(--cmm-base-color-quaternary) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    background-size: 200%;
    color: var(--cmm-btn-color);
    transition: all 0.3s ease;
    background-color: var(--cmm-base-color-tertiary);
    background-image: linear-gradient(
        to right,
        var(--cmm-base-color-tertiary) 0%,
        var(--cmm-base-color-quaternary) 51%,
        var(--cmm-base-color-tertiary) 100%
    );

    &:hover {
        background-position: -100%;
    }
}

.nav-link {
    color: var(--cmm-text-color-three);
    &:hover {
        color: var(--cmm-text-color-two);
    }
}

.embla {
    overflow: hidden;
}

.gradient-content {
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 10%,
        rgb(0, 0, 0) 90%,
        rgba(0, 0, 0, 0) 100%
    );
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    @apply mx-2;
    min-width: 0;
}

.embla__single__slide {
    flex: 0 0 100%;
    @apply mx-2;
    min-width: 0;
}

@screen md {
    .embla__slide {
        flex: 0 0 50%;
        @apply mx-2;
        min-width: 0;
    }
}

.prose table,
table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

@screen sm {
    .prose table,
    table {
        display: inline-table;
        white-space: wrap;
    }
}

.prose table th,
table th {
    text-align: inherit;
}

.Toastify__toast-body {
    display: flex !important;
    align-items: flex-start !important;
    @apply text-sm !important;
}

.Toastify__toast-icon {
    @apply mt-1 !important;
}

.Toastify__progress-bar--success {
    @apply bg-[var(--cmm-base-color-tertiary)] !important;
}

.Toastify__progress-bar--error {
    @apply bg-[var(--cmm-base-color-quaternary)] !important;
}

.Toastify__toast--success {
    @apply bg-[var(--cmm-base-color-primary)] !important;
    @apply border-[var(--cmm-border-color-main)] !important;
    @apply text-[var(--cmm-base-color-tertiary)] !important;
}

.Toastify__toast--error {
    @apply bg-[var(--cmm-base-color-primary)] !important;
    @apply border-[var(--cmm-border-color-main)] !important;
    @apply text-[var(--cmm-base-color-quaternary)] !important;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

.grecaptcha-badge {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn-7 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.modal-overlay-enter {
    animation: fadeIn-7 0.3s ease-out forwards;
}

.modal-overlay-exit {
    animation: fadeOut 0.3s ease-out forwards;
}

.modal-content-enter {
    animation: slideIn 0.3s ease-out forwards;
}

.modal-content-exit {
    animation: slideOut 0.3s ease-out forwards;
}
